@page
@{
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div class="row" style="height: 900px"; display: flex; justify-content: center; align-items: center; text-align: center;">
    <div>
        <h2>Dobrodošli u naš shop!</h2>
        <p>Ovo je sa proizvodima.</p>
    </div>
</div>
