@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="welcome-container">
        <h2>Welcome</h2>
        <div>
            <button onclick="window.location.href='/Account/Register'">Register</button>
            <button onclick="window.location.href='/Account/Login'">Login</button>
        </div>
    </div>

</body>
</html>